body {
  background-color: black;
  color: white;
}

header {
  position: sticky;
  top: 0;
}

nav {
  background: #fff;
}

img {
  width: 100%;
}

p img {
  width: 200px;
  float: left;
}

#about {
  display: flex;
}

h1 {
  background-color: black;
  color: white;
}

p {
  background-color: black;
  color: green;
}

h2 {
  background-color: black;
  color: orange;
}


